@media only screen and (max-width: 640px){
    
/*
 *  different font faces to embedd in the application (please refer to path/location)
 * */
    
    @font-face {
        font-family: 'QuorumStdBlack';
        src: url('../fonts/QuorumStd-Black.otf');
    }
    
    @font-face {
        font-family: 'QuorumStdMedium';
        src: url('../fonts/QuorumStd-Medium.otf');
    }
    
    @font-face {
        font-family: 'QuorumStdLight';
        src: url('../fonts/QuorumStd-Light.otf');
    }
    
    @font-face {
        font-family: 'QuorumStdBold';
        src: url('../fonts/QuorumStd-Bold.otf');
        font-weight: bold;
    }
    
    @font-face {
        font-family: 'QuorumStdBook';
        src: url('../fonts/QuorumStd-Book.otf');
    }
    
    /*
     * general style and alignment
     */
    body{
        margin: 0;
        background-color: #f4f4f5;
        font-family: QuorumStdMedium;
        font-size: 14.5px;
    }

    body, input:focus, a:focus {
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }
    
    #site
    {
        padding: 10px;

    }
    
    /*
     * landing page
     */
    
    #contentArea #welcome{
        width: 300px;
        height: 90px;
        margin: 10px 0;
    }
    
    #contentArea .note{
        font-family: 'QuorumStdBook';
        font-size: 14px;
        color: #777;
    }
    
    /*
     * header
     */
    
	#navigationHeader{
	    background: #bade11;
	    height: 50px;
	}
	
	#back{
        width: 52px;
        height: 50px;
        float: left;
	}
	
	#logo{
	    height: 50px;
        width: 164px;
        position: absolute;
        margin-left: 50%;
        left: -100px;

	}
	
	.showSettings{
	    width: 52px;
	    height: 50px;
	    float: right;
	}
	
	/*
	 * form elements
	 */

	form input{ 
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
	}
	
	form #searchField, #nickname, #email, #password{
	    width: 255px;
	    height: 20px;
	    font-size: 14px;
	    padding: 5px;
	    float: left;

	}
	
	form #submit{
        width: 32px;
        height: 32px;
        background: url('../images/search.png') 0 0 no-repeat;
        border: solid 1px #acacac;
    }

    /* Login and SignUp specials*/

    #nickname, #email, #password
    {
        margin-bottom: 20px;
        margin-top: 10px;   
    }

    #loginButton, #signupButton
    {
        height: 32px;
        background: #bade11;
        border: solid 1px #acacac;
    }
    
    /*
     * buttons on start screen (typeList)
     */
	
	#contentArea .typeList{
	    display: block;
	    float: left;
	    margin-right: 4px;
	    margin-bottom: 7px;
	    
	    /* gradient */
	   
	    /* dark-grey:      RGB (231, 231, 231, 1)
	     *                 HEX #e7e7e7
	     * bright-grey:    RGB (244, 244, 244, 1)
	     *                 HEX #f4f4f4
	     * */
	    
	    background: rgb(231,231,231,1);
        background: -moz-linear-gradient(top,  rgba(231,231,231,1) 0%, rgba(244, 244, 244, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,231,231,1)), color-stop(100%,rgba(244, 244, 244, 1)));
        background: -webkit-linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(244, 244, 244, 1) 100%);
        background: -o-linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(244, 244, 244, 1) 100%);
        background: -ms-linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(244, 244, 244, 1) 100%);
        background: linear-gradient(top,  rgba(231,231,231,1) 0%,rgba(244, 244, 244, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#f4f4f4',GradientType=0 );
        

	    /* border radius */
	   
	    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
	   
	    /* shadow */
	   
	    -webkit-box-shadow: -2px -2px 4px rgba(0,0,0,0.1);
        -moz-box-shadow: -2px -2px 4px rgba(0,0,0,0.1);
        box-shadow: -2px -2px 4px rgba(0,0,0,0.1);

        /* border */
        border: solid 1px #acacac;
        


	}
	
	#contentArea .buttonSmall{
	    width: 95px;
        height: 95px;
	}
	
	#contentArea .buttonLarge{
	    width: 298px;
        height: 71px;
	}

    /*detail for the detailsite*/
    #addProduct
    {
        position: absolute;
        width: 20px;
        left: 73%;
        top: 120px;
    }

    .ratingContainer
    {
        width: 150px;
        float: left;
    }

    .ratings
    {
        margin-right: 0;
    }
}
