
#productListNavigation, #categoryListNavigation, #searchResultListNavigation
{
	width: 290px;
	height: 30px;
	background-color: #fff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	margin-bottom: -1px;
	padding: 15px 0 0 10px;
	background-image: url(../images/productDetailNavigationBackground.png);
	background-repeat: none;
}



#categoryListNavigation a, #productListNavigation a {
	display: block;
	width: 290px;
	height: 30px;
	color: #000;
	text-decoration: none;
}

